html[data-theme="artwork"] {
  --bg-color: var(--color-light);
  --text-color: var(--color-dark-shade);
  --accent-color: var(--color-primary);
  --box-shadow-color: var(--text-color);
  --footer-bg: var(--text-color);
  --footer-text: var(--bg-color);
  --hero-bg: var(--color-secondary);
  --hero-header-text: var(--text-color);
  --hero-header-text-mark: var(--bg-color);
  --hero-byline-text: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  html[data-theme="artwork"] {
    // Exceptions to dark mode colour swap
    --footer-bg: var(--color-light-shade);
    --footer-text: var(--color-dark-shade);
    --hero-bg: var(--color-secondary);
    --hero-header-text: var(--color-light);
    --hero-header-text-mark: var(--color-dark-shade);
    --hero-byline-text: var(--color-dark-glare);
  }
}
