@use "../config/design-tokens" as dt;

.box {
  padding: var(--padding);

  // Make box "visible" in high contrast themes for accessibility
  outline: 0.125rem solid transparent;
  outline-offset: -0.125rem;
}

.box * {
  color: inherit;
}

// All descendant boxes inherit padding value unless overridden
.box .box {
  padding: var(--padding);
}
