.float {
  float: right;
  padding-inline-start: var(--padding);
  padding-inline-end: 0;

  &[data-reverse] {
    float: left;
    padding-inline-start: 0;
    padding-inline-end: var(--padding);
  }
}
