---
layout: layouts/base.liquid
title: Home
titleRotation:
  - Hello!
  - Hallå!
  - ¡Hola!
  - Bonjour!
  - Hallo!
  - 你好!
---
<div class="introduction">
  {{ content }}
</div>
<div class="content">
  
</div>
