---
layout: layouts/base.liquid
title: Hello
titleRotation:
  - Hello!
  - Hej!
  - ¡Hola!
  - Bonjour!
  - Hallo!
  - 你好!
---
<div class="introduction">
  {{ content }}
</div>
<div class="content">

</div>
