---
layout: layouts/base.liquid
title: Projects
navIndex: 1
---
<div class="introduction">
  {{ content }}
</div>
<div class="content">
  {% render "partials/collection-grid.liquid", collection: collections.projects %}
</div>
