---
layout: layouts/base.liquid
title: Projects
navIndex: 2
---
<div class="introduction">
  {{ content }}
</div>
<div class="content">
  <ul>
    {% for project in collections.projects %}
      <li><a href="{{ project.url }}">{{ project.data.title }}</a></li>
    {% endfor %}
  </ul>
</div>
