---
layout: layouts/base.liquid
title: Writing
navIndex: 0
layout-palette: writing
---
<div class="introduction">
  {{ content }}
</div>
<div class="content">
  {% for year in collections.writing-years reversed %}
    {% unless year.year == currentYear %}
      {% render "partials/collection-grid.liquid", collection: year.items, sectionTitle: year.year %}
    {% else %}
      {% render "partials/collection-grid.liquid", collection: year.items, sectionTitle: false %}
    {% endunless %}
  {% endfor %}
</div>
