{% comment %}
** Not all HTML and CSS is supported **
See: https://github.com/vercel/satori
{% endcomment %}

<style>
  .root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #26c4a8;
    padding: 80px 60px 80px 60px;
    box-sizing: border-box;
  }

  .title {
    font-family: Inter;
    font-size: 72px;
    font-weight: 700;
    color: #fdf8f3;

    line-height: 1.1;
    margin: 0;
    margin-bottom: 0.8em;
    max-width: 100%;
  }

  .date {
    font-family: "Source Serif 4";
    font-size: 28px;
    font-weight: 700;
    color: #fdf8f3;

    font-style: italic;

    margin: 0;
    margin-left: 10px;
  }
</style>

<div class="root">
  <p class="title">{{ title }}</p>
{% if date %}
  <p class="date">{{ date | readablePostDate }}</p>
{% endif %}
</div>