@use "../config/design-tokens" as dt;

.site-footer {
  margin-block-end: var(--gutter);

  @include dt.use("text", -2);

  &__content {
    padding-block: var(--gutter);
    padding-inline: var(--gutter);
    background: var(--footer-bg);
    color: var(--footer-text);
  }
}
