.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;

  &:hover {
    // background-color: var(--color-primary);
  }

  // Larger buttons on larger screens
  @media (min-width: $breakpoint-lg) {
    padding: 0.75rem 1.5rem;
  }
}

/* TOC Styles */
.toc {
  margin: 0;
  padding: 0.25em 0 0.25em;
  font-size: small;
  line-height: 0.85;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin: 0.75em 0 0.75em 0;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          text-underline-position: unset;
        }
      }
    }

    ul {
      padding-left: 1em;
      border-left: 2px solid var(--color-muted);
      margin: 0.75em 0 0.75em 0.5em;

      li {
        margin: 0.5em 0 0.5em 0;
      }
    }
  }
}

a.header-anchor {
  color: var(--color-heading);

    &:hover {
      text-decoration: none;
    }
}

h1 a[href^="#"]:before,
h2 a[href^="#"]:before,
h3 a[href^="#"]:before,
h4 a[href^="#"]:before,
h5 a[href^="#"]:before,
h6 a[href^="#"]:before {
  color: var(--color-muted);
  content: "#";
  font-size: 0.7em;
  line-height: 1;
  margin-left: -0.8em;
  visibility: hidden;
  width: 0.8em;
}

h1 a[href^="#"]:hover:before,
h2 a[href^="#"]:hover:before,
h3 a[href^="#"]:hover:before,
h4 a[href^="#"]:hover:before,
h5 a[href^="#"]:hover:before,
h6 a[href^="#"]:hover:before {
  visibility: visible;
}

ul.titleRotation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  // Account for absolute positioning taking items out of the document flow
  height: calc($font-size-section-title * $line-height-base);
  position: relative; /* Relative positioning for containing absolute children */

  li {
    position: absolute; /* Absolute positioning for stacking items */
    margin: 0;
    width: 100%;
    opacity: 0; /* Ensures that items do not overlap as each item starts invisible */
    animation: fade 72s infinite;
  }

  li:nth-child(1) {
    animation-delay: 0s; /* No delay for the first item, offset for the rest */
  }

  li:nth-child(2) {
    animation-delay: 12s;
  }

  li:nth-child(3) {
    animation-delay: 24s;
  }

  li:nth-child(4) {
    animation-delay: 36s;
  }

  li:nth-child(5) {
    animation-delay: 48s;
  }

  li:nth-child(6) {
    animation-delay: 60s;
  }

  @keyframes fade {
    0%, 16.67%  { opacity: 0; } /* At 0% and 16.67% (100%/6 items), opacity 0 */
    0%, 15%  { opacity: 1; }    /* 8.33% (betwen 0 and 16.67%), set opacity 1 */
  }
}

article {
  max-width: 708px;
  margin: auto;
  padding: 2rem;

  @media (max-width: $breakpoint-md) {
    padding: 0.5rem;
  }

  .date-byline {
    font-style: italic;
    color: var(--color-muted);
  }  
}

.collection-grid {
  display: grid;
  gap: $grid-gap;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(calc($font-size-root * 12), min-content);

  .collection-grid.item {
    display: flex;
    gap: 0px;
    flex-flow: column nowrap;
    justify-content: flex-start;

    > * {
      padding: 0.2rem 0;
    }

    > .title {
      font-size: 1.1rem;
      font-weight: $font-weight-strong;

      a {
        color: var(--color-text);
      }
    }
    > .summary {

    }

    > .date {
      align-self: flex-end;
      font-weight: 100;
    }

    > .tags {
      margin-top: auto;

      display: flex;
      flex-flow: row wrap;
      gap: 0.5em;

      .tags.item {
        background-color: lightgreen;
        padding: 0 5px;
        border-radius: 4px;
      }
    }
  }
}
