header {
  text-align: center;
  padding: 0rem 0;
}

nav {
  margin-bottom: 2rem;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: center;
    }

    li {
      margin: 0.5rem 0;

      @media (min-width: $breakpoint-md) {
        margin-right: 1rem;
      }
    }
  }
}

body .container {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    max-width: 540px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 720px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 960px;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: 1040px;
  }
}

section {
  padding: 2rem 0 0 0;

  .introduction {
    
  }

  .content {
    
  }
}

article {
  max-width: 708px;
  margin: 0 auto;
  padding: 2rem;

  @media (max-width: $breakpoint-md) {
    padding: 0.5rem;
  }

  .date-byline {
    font-style: italic;
    color: var(--color-muted);
  }
}

footer {
  text-align: center;
  padding: 1rem 0;
  font-size: small;
  color: var(--color-muted);
}
