/* --- Colors --- */
// Reference: https://developer.apple.com/design/human-interface-guidelines/color#Specifications

/* LIGHT */
// Color palette
$color-text: rgb(28, 28, 30); // Gray6-dark, Primary text color
$color-heading: rgb(58, 58, 60); // Gray4-dark, Heading text color
$color-background: rgb(255, 255, 255); // Background color

// Colors: text
$color-primary: rgb(0, 122, 255); // Blue
$color-secondary: rgb(142,142,147); // Gray
$color-muted: rgb(199, 199, 204); // Gray3, for de-emphasized text

// Colors: specific elements
$color-bg-fill: rgb(229, 229, 234); // Gray5, Light fill
$color-line: rgb(242, 242, 247); // Gray6, lines and borders


/* DARK */
// Color palette
$color-text-dark: rgb(245, 245, 247); // Gray6-dark, Primary text color
$color-heading-dark: rgb(215, 215, 217); // Gray4-dark, Heading text color
$color-background-dark: rgb(22, 22, 23); // Background color

// Colors: text
$color-primary-dark: rgb(10, 132, 255); // Blue
$color-secondary-dark: rgb(142,142,147); // Gray
$color-muted-dark: rgb(72, 72, 74); // Gray3, for de-emphasized text

// Colors: specific elements
$color-bg-fill-dark: rgb(44, 44, 46); // Gray5, Light fill
$color-line-dark: rgb(28, 28, 30); // Gray6, lines and borders

/* --- Layout Grid --- */
// Dimensions
$grid-gap: 0px;

// Colors
// DEFAULT
$color-grid-upper: green;
$color-grid-lower: darkviolet;
$color-grid-upper-dark: darkgreen;
$color-grid-lower-dark: palevioletred;
// WRITING
$color-upper-writing: oklch(95.1% 0.1773 105.22);
$color-lower-writing: oklch(88.53% 0.107 339.88);
$color-upper-writing-dark: oklch(from $color-upper-writing calc(l - 0.45) calc(c - 0.05) calc(h + 90deg));
$color-lower-writing-dark: oklch(from $color-lower-writing calc(l - 0.45) calc(c - 0.05) calc(h - 90deg));
// FULLPage
$color-upper-fullpage: oklch(98% 0 0);
$color-lower-fullpage: oklch(100% 0 0);
$color-upper-fullpage-dark: oklch(10% 0 0);
$color-lower-fullpage-dark: oklch(18% 0 0);

/* --- Typography --- */

$font-stack: 'Inter', sans-serif;
$font-features: 'liga' 1, 'calt' 1, 'ss03' 1;
$font-size-root: 16px;
$font-weight-root: 200;

$line-height-base: 1.6;
$line-height-heading: 1.25;

/* --- Responsive design -- */

$breakpoint-sm: 576px; // Small devices (phones)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)
