@use "../compositions";
@use "../config/design-tokens" as dt;

.artwork {
  &__gallery {
    --min-item-width: 320px;

    @include compositions.grid;

    // This is not yet widely supported as of Dec/2025
    // Leaving this in for eventual browser support
    grid-template-rows: masonry;
  }

  &__preview > :is([data-target]) {
    block-size: calc(100vh - 2 * var(--padding));
  }

  &__preview-container {
    margin-inline: auto;
  }

  &__preview-grid {
    @include compositions.grid;

    block-size: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    place-items: start;

    & > :nth-child(1) {
      align-self: end;
    }
  }
}
