@use "../config/design-tokens" as dt;
@use "../utilities";

.button {
  @include utilities.radius;

  display: inline-block;
  padding: 0.5rem 2rem;
  background: dt.get-color("secondary-glare");
  color: dt.get-color("dark-shade");
  border: 2px solid;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  @include dt.use("font", "sans");
  @include dt.use("weight", "bold");

  // Make sure hover state trumps all variants
  &:hover {
    background: dt.get-color("secondary") !important;
    color: dt.get-color("dark-shade") !important;
  }

  &[data-variant="ghost"] {
    background: transparent;
    color: dt.get-color("secondary-glare");
  }
}
