@use "sass:list";

$ratios: (
  "16-9": (
    9,
    16
  ),
  "4-3": (
    3,
    4
  ),
  "1-1": (
    1,
    1
  ),
  "4-5": (
    4,
    5
  ),
  "5-7": (
    5,
    7
  ),
  "5-6": (
    5,
    6
  ),
  "7-9": (
    7,
    9
  ),
  "2-3": (
    2,
    3
  )
);

.frame {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  display: flex;
  place-items: center;
  max-block-size: 100%;
  max-inline-size: 100%;

  & > img,
  & > picture img,
  & > video {
    object-fit: cover;
  }

  &[data-fit-content] {
    place-items: start;

    > img,
    > picture img,
    > video {
      inline-size: inherit;
      block-size: inherit;
      object-fit: contain;
    }
  }

  @each $key, $values in $ratios {
    &[data-ratio="#{$key}"] {
      aspect-ratio: #{list.nth($values, 1) "/" list.nth($values, 2)};
    }
    &[data-ratio="#{$key}"][data-landscape] {
      aspect-ratio: #{list.nth($values, 2) "/" list.nth($values, 1)};
    }
  }
}
