@use "sass:list";

$ratios: (
  "16-9": (
    16,
    9,
  ),
  "4-3": (
    4,
    3,
  ),
  "1-1": (
    1,
    1,
  ),
  "4-5": (
    4,
    5,
  ),
  "5-7": (
    5,
    7,
  ),
);

.frame {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & > picture img,
  & > img,
  & > video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  @each $key, $values in $ratios {
    &[data-ratio="#{$key}"] {
      aspect-ratio: #{list.nth($values, 1) "/" list.nth($values, 2)};
    }
    &[data-ratio="#{$key}"][data-invert] {
      aspect-ratio: #{list.nth($values, 2) "/" list.nth($values, 1)};
    }
  }
}
