@use "../config/design-tokens" as dt;
@use "../config/fonts";

.hero {
  background: var(--hero-bg);
  padding-block: var(--gutter);
  padding-inline: var(--gutter);

  &__header {
    @include dt.use("text-mega", -2);

    padding-block-end: var(--gutter);
    color: var(--hero-header-text);

    mark {
      color: inherit;

      $bottom: 20%;
      $top: 86%;

      background: linear-gradient(
        to top,
        transparent $bottom,
        var(--hero-header-text-mark) $bottom,
        var(--hero-header-text-mark) $top,
        transparent $top
      );
    }
  }

  &__flourish {
    @include fonts.sans;
    @include dt.use("text", 0);

    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--hero-header-text);
    opacity: 0.7;

    a {
      color: inherit;
      text-decoration-thickness: 1px;
      text-underline-offset: 0.15em;
    }
  }
}
