@use "../config/design-tokens" as dt;

.hero {
  @include dt.use("bg", "secondary-shade");

  padding-block: var(--gutter);
  padding-inline: var(--gutter);

  &__header {
    @include dt.use("text-mega", -2);
    padding-block-end: var(--gutter);

    mark {
      $bottom: 20%;
      $top: 84%;
      background: linear-gradient(to top,transparent $bottom,#{dt.get-color("light")} $bottom,#{dt.get-color("light")} $top,transparent $top);
    }
  }
}
