<!DOCTYPE html>
<html lang="en">
    <head>
        {% render "partials/site-meta" meta: meta %}
        {% render "partials/site-opengraph" ogData: ogData, page: page %}
        {% render "partials/site-includes" site: site %}
        <title>{{ title }} • {{ site.siteName }}</title>
    </head>
    <body>
        <div class="[ site-wrap ] [ flow flow-space-xl ]">
            {%unless hide_header %}
                {% render "partials/site-header"
                    site: site,
                    page: page
                    %}
            {%endunless %}
            <main tabindex="-1" id="main-content">
                <div class="[ wrapper ]">
                    {{ content }}
                </div>
            </main>
            {%unless hide_footer %}
                {% render "partials/site-footer"
                    helpers: helpers,
                    site: site,
                    page: page,
                    company_info: company_info %}
            {%endunless %}
        </div>
    </body>
</html>
