<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content="{{ eleventy.generator }}" />
        {% render "partials/site-includes" site: site %}
        {% render "partials/rss" site: site %}
        <title>{{ title }} • {{ site.siteName }}</title>
    </head>
    <body>
        <div class="site-wrap">
            {%unless hide_header %}
                {% render "partials/site-header"
                    site: site,
                    page: page
                    %}
            {%endunless %}
            <main tabindex="-1" id="main-content">
                <div class="[ wrapper flow ]">
                    {{ content }}
                </div>
            </main>
            {%unless hide_footer %}
                {% render "partials/site-footer"
                    helpers: helpers,
                    site: site %}
            {%endunless %}
        </div>
    </body>
</html>
