---
layout: layouts/base.liquid
title: Home
---
<section>
  <img src="/assets/images/header-image.jpg" alt="Header Image">
  <h1>Home</h1>
  <p>Welcome to the Home page!</p>
  <hr>
  <!-- Add additional content below the fold here -->
</section>
