---
layout: layouts/base
---

<article class="[ article ] [ flow ]">
  {%render "partials/hero"
            hero: hero %}
  <div class="[ article__content ] [ flow flow-space-m ]">
    {{ content }}
  </div>
  {%if cta %}
    {%render "partials/cta"
              cta: cta %}
  {%endif%}
</article>
