---
layout: layouts/base
---

<article class="[ article ] [ flow ]">
  {%render "partials/hero"
            hero: hero %}
  <div class="[ article__content ] [ flow flow-space-m ]">
    {{ content }}
  </div>
  {% for year in collections.writing-years reversed %}
    {% render "partials/writing-collection"
              collection: year.items,
              year: year.year %}
  {% endfor %}
</article>
