.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    max-width: 540px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 720px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 960px;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: 1140px;
  }
}

header,
footer {
  text-align: center;
  padding: 1rem 0;
}
