// Color palette
$color-primary: #007bff; // Primary button color
$color-secondary: #6c757d; // Secondary text color
$color-background: #fff; // Background color
$color-text: #212529; // Primary text color

// Typography
$font-stack: Inter, sans-serif;
$font-features: 'liga' 1, 'calt' 1; /* fix for Chrome */
$font-size-root: 16px;

// Breakpoints for responsive design
$breakpoint-sm: 576px; // Small devices (phones)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)
