@use "sass:map";

@use "helpers";
@use "config";

@include helpers.generate-tokens(config.$tokens);

@mixin use($token, $variant) {
  $node: map.get(config.$tokens, $token);
  $css-property: map.get($node, 'property');
  $variants: map.get($node, 'variants');
  $variant-value: map.get($variants, $variant);

  @if ($css-property and $variant-value) {
    #{$css-property}: $variant-value;
  } @else {
    @if ($css-property) {
      @warn #{'Value: ‘' + $variant-value + '’ doesn’t exist in ‘' + $token + '’' };
    }

    @if ($variant-value) {
      @warn #{'Design token ‘' + $token + '’ doesn’t exist'};
    }
  }
}
