@use "sass:map";

@use "helpers/tokens";
@use "config";

$_config-tokens: config.$tokens;


@include tokens.generate($_config-tokens);

@mixin use($token, $variant, $config: $_config-tokens) {
  $var: tokens.get-variant($token, $variant, $config);

  @if ($var) {
    #{map.get($var, 'property')}: map.get($var, 'value');
  }
}

@function get-value($token, $variant, $config: $_config-tokens) {
  $var: tokens.get-variant($token, $variant, $config);

  @if ($var) {
    @return map.get($var, 'value');
  } @else {
    @return null;
  }
}
