@use "../config/design-tokens" as dt;

.center {
  box-sizing: content-box;
  margin-inline: auto;
  // max-inline-size: #{dt.get-value("measure", "compact")}
  padding-inline: #{dt.get-size("s")};
  display: flex;
  flex-direction: column;
  align-items: center;
}
