<article class="[ article ] [ flow flow-space-m ]">
  {% render "partials/hero"
            hero: hero,
            header: header,
            byline: byline %}

  <div class="[ article__content ] [ flow ]">
    {% if photos[0] %}
    <div class="[ float ] [ padding-xl ]">
      <div class="[ box ] [ padding-none shadow-xs-s measure-mini ]" data-shadow>
        <div class="frame" data-ratio="4-5">
          <img src="{{ photos[0].src }}" alt="{{ photos[0].alt }}" />
        </div>
      </div>
    </div>
    {% endif %}
    {{ content }}
  </div>

  {% if type == "writing" %}
    {% for year in years reversed %}
      {% render "partials/writing-collection", collection: year.items, year: year.year %}
    {% endfor %}
  {% endif %}

  {% if type == "landing" and cta %}
    {% render "partials/cta", cta: cta %}
  {% endif %}

  {% if type == "contact" %}
    {% render "partials/contact-options", options: options %}
  {% endif %}
</article>