<article class="[ article ] [ flow flow-space-m ]">
  {% render "partials/hero"
            hero: hero,
            type: "episode",
            header: header,
            byline: byline,
            site: site      %}

  <div class="[ article__content ] [ flow ]">
    {% if type == "episode" %}
      <div class="box bg-light-shade padding-s border-thin border-style-dotted radius" data-fit-content>
        <div class="cluster" data-state="center">
          <p class="font-sans text-3 weight-bold">Listen</p>
          <audio controls>
            <source src="{{ recording }}" type="audio/mpeg" />
          </audio>
        </div>
      </div>
    {% endif %}
    {{ content }}
  </div>

  {% if type == "writing" %}
    {% for year in years reversed %}
      {% render "partials/writing-collection", collection: year.items, year: year.year %}
    {% endfor %}
  {% endif %}

  {% if type == "landing" and cta %}
    {% render "partials/cta", cta: cta %}
  {% endif %}

  {% if type == "contact" %}
    {% render "partials/contact-options", options: options %}
  {% endif %}

  {% if type == "podcast" %}
    {% for episode in episodes %}
      {% if episode.data.publishToRSSFeed %}
        {% render "partials/podcast-collection", episode: episode %}
      {% endif %}
    {% endfor %}
  {% endif %}
</article>