<div class="box" id="{{ artwork.data.page_slug }}">
  <div class="flow flow-space-s">
    <div class="[ box ] [ padding-none ]">
      <a href="{{ artwork.page.url }}">
        <div class="frame" data-ratio="{{ artwork.data.ratio }}" {%- if artwork.data.landscape %}data-landscape{%- endif %}>
          <img src="{{ artwork.data.image }}" alt="Artwork preview image" />
        </div>
      </a>
    </div>
  </div>
</div>