<div class="[ gutter flow ]">
  <div class="[ switcher ]">
    {% for option in options %}
    <div>
      <div class="[ contact-options box ] [ radius ] [ padding-xs ]">
        <div class="stack-split-1">
          <p>{{ option.body | markdownify }}</p>
          <a class="contact-options__link" href="{{ option.cta_url }}" target="_blank" rel="noopener">{{ option.cta }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>