<header>
  <nav>
    <ul>
      {% for item in navigation.items %}
        {% unless item.hidden %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endunless %}
      {% endfor %}
    </ul>
  </nav>
</header>
