<div class="box bg-light-shade padding-s border-thin border-style-dotted radius" data-fit-content>
  <div class="cluster" data-state="center">
    <p class="font-sans text-3 weight-bold">{{ label }}</p>
    <audio controls>
      <source src="{{ src }}" type="audio/mpeg" />
    </audio>
  </div>
</div>