<div class="[ gutter flow ]">
  <div>
    <div class="flow flow-space-xs">
      <h4><a href="{{ episode.url }}">{{ episode.data.title }}</a></h4>
      <p><em>{{ episode.date | date: "%e %b %Y" }}</em></p>
      <p>{{ episode.data.summary }}</p>
    </div>
  </div>
</div>